{% extends 'bases/base.html' %}

{% load static %}

{% block btn_carrito%}
<li class="nav-item px-3">
  <a class="nav-link cl-white" aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight">CARRITO</a>
</li>
{% endblock %}


{% block page_content %}


<a class="btn-whatsapp" href="https://wa.me/59173609014?text=Me%20interesa%20Mallon.com.bo" target="_blank"> <i
    class="fa-brands fa-whatsapp"></i> </a>




<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>

<!-- fin Espacio en blanco -->
<div class="container text-center">

  <h2>{{cat.nombre}}</h2>

</div>

<div class="container row mx-auto">

  {% for item in prod %}


  <div class="col-md-4  card" style="border: 0; margin: 0;" data-aos="zoom-in-down">
    <div class="card-body hover-prod">

        <div class="col-12 col-md-12 col-sm-6 text-center">

         <a href="{% url 'tienda:producto_id' item.id %}"><img src="/{{item.img}}" class="d-block w-100" alt=""></a> 

          <!-- <img src="{% static prod.img %}" alt=""> -->
        </div>
        <div class="col-12 col-sm-6 mx-auto ">

          <h2 class=" col-12 text-center my-0 p-0">{{item.nombre}} </h2> <br />
        
          {% if item.flag_precio %}

          <h4 class="my-0">Precio: {{item.precio}} Bs.</h3>
            <div class="row">

              <a href="{% url 'ecommerce:Add' item.id %}" class="btn btn-outline-success">Añadir al carrito</a>
            </div>


            {% else %}

            <h4>Desde: {{item.p_inicial}} hasta: {{item.p_final}}</h3>

              {% endif %}
        </div>
      





    </div>
  </div>

  {% endfor %}
</div>



<br>
<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>

<!-- Panel derecho CArrito  -->


{% endblock %}


{% block js_page %}

{% endblock %}