{% extends 'bases/base.html' %}

{% load static %}

{% block page_content %}

<!-- iniciar  divisor iniciar -->
<div class="container-fluid p-0">
  <div class="bg-image " style="background-image: url('{% static 'web/img/foto_contacto.jpg' %}');
 width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="mask gradient-custom2">
      <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 28vw;">
        <h1 class="text-white mb-0 col-6 fs-1 text-center fw-bold" data-aos="fade-right"
          style="text-shadow: 0.1em 0.1em 0.2em black;">HISTORIA</h1>

      </div>
    </div>
  </div>

</div>


<a class="btn-whatsapp" href="https://wa.me/59167308783?text=Me%20Interesa%20los%20trajes" target="_blank"> <i
    class="fa-brands fa-whatsapp"></i></a>

<!-- fin divisor iniciar -->



<!-- inicio de tienda  -->



<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>

<!-- fin Espacio en blanco -->



<div class="container">




  <!-- <div class="d-flex justify-content-center align-items-center"> -->
  <div class=" row ">

    <div class="col-md-8 mx-auto " data-aos="zoom-in-down">
      <div class=" p-3  hover-prod">
        <div class="card-img-top ">
          <img class="" src="{% static 'web/img/historia.png' %}" width="70%">
        </div>

      </div>


    </div>

 
  </div>



  <div class="col col-md-8 mx-auto" data-aos="zoom-in-down">
    <p style="text-align: justify;">La Sastrería Sillerico se funda en 1956 por la acertada iniciativa del maestro Manuel Sillerico, influenciado por las instrucciones, capacitación y aprendizaje recibidos de los grandes maestros que llegaron de Europa después de la segunda guerra mundial, quienes habían traído las enseñanzas de la prestigiosa escuela de la sastrería Europea. <br><br>

      El fruto de todo el aprendizaje adquirido de esos profesionales origina que Manuel Sillerico funde y organice una sastrería de alto nivel y categoría, desarrollo que se plasmo con mayor intensidad en las décadas de los 60s a los 80s, logrando relacionarse con diferentes instituciones involucradas con el arte de la sastrería, tanto en el ámbito latinoamericano, panamericano y europeo, especialmente en Italia, participando activamente en los diferentes congresos mundiales y panamericanos. <br><br>
      
      Nuestro trabajo se extiende en las especialidades de traje actual, camisería, corbatería, tela, prendas de cuero (blaiser, camperas, sacos de cuero), importación de telas para trajes y corbatas traídas de Europa. Otorgándonos el derecho de escoger a los mejores proveedores, fabricantes y los más exclusivos tejedores del mundo. <br><br>
      
      Por generaciones nuestros profesionales han servido Presidentes de Sudamérica, Ex presidentes de la nuestra República, altos dignatarios de estado, artistas y escritores de renombre, personajes tan importantes que pasaron por el umbral de esta sastrería que son parte de la historia de nuestro País. Historia que conjuntamente la Sastrería Sillerico es parte patrimonial de la ciudad de La Paz. <br><br>
      
      A pesar de contar con maquinaria de última generación le damos valor al acabado a mano realizando trajes a medida del cliente, utilizando técnicas re descubiertas para hacer de cada traje una pieza única e irrepetible buscando siempre satisfacer a cada uno de nuestros clientes.<br><br>
      
      Sastrería Sillerico, desarrolla todas sus actividades enmarcadas en normativas legales relacionadas al rubro contando con la respectiva Resolución Ministerial «Academia Boliviana de Sastrería» y como tal por nuestra tradición: estamos obligados a dejar nuestras enseñanzas a las futuras generaciones. </p>
  </div>




</div>
</div>
<!-- fin de tienda  -->


<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>





<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>

{% endblock %}