{% extends 'bases/base.html' %}

{% load static %}

{% block page_content %}

<!-- iniciar  divisor iniciar -->
<div class="container-fluid p-0">
  <div class="bg-image " style="background-image: url('{% static 'web/img/foto_contacto.jpg' %}');
 width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="mask gradient-custom2">
      <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 28vw;">
        <h1 class="text-white mb-0 col-6 fs-1 text-center fw-bold" data-aos="fade-right"
          style="text-shadow: 0.1em 0.1em 0.2em black;">LAS MEJORES TELAS</h1>

      </div>
    </div>
  </div>

</div>


<a class="btn-whatsapp" href="https://wa.me/59167308783?text=Me%20Interesa%20los%20trajes" target="_blank"> <i
    class="fa-brands fa-whatsapp"></i></a>

<!-- fin divisor iniciar -->



<!-- inicio de tienda  -->



<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>

<!-- fin Espacio en blanco -->



<div class="container">




  <!-- <div class="d-flex justify-content-center align-items-center"> -->
  <div class=" row ">

    <div class="col-md-8 mx-auto " data-aos="zoom-in-down">
      <div class=" p-3  hover-prod">
        <div class="card-img-top ">
          <img class="" src="{% static 'web/img/telas.png' %}" width="70%">
        </div>

      </div>


    </div>

 
  </div>



  <div class="col col-md-8 mx-auto" data-aos="zoom-in-down">
    <p style="text-align: justify;">Nuestra sastrería se da el derecho de escoger a los mejores proveedores, fabricantes y los más excelentes tejedores en el mundo. <br><br>

      Casimires tejidos de las fibras más finas, de acuerdo a la edad del cordero. Dentro del rubro de la hilandería, cuanto más joven es el cordero, el tejido es mucho más fino.<br><br>
      
      Procedencia:<br>
      
      Inglesa e Italiana clasificados como SUPER 100, 130 a 150 (entramado), insumos en la fabricación.<br><br>
  </div>




</div>
</div>
<!-- fin de tienda  -->


<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>





<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>

{% endblock %}